<!DOCTYPE html>
<html>
<head>
  <title>MyAjax</title>
  <%= stylesheet_link_tag    'application',media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>

<% 
#<link rel="stylesheet" href="../assets/stylesheets/bootstrap.min.css">
#<link rel="stylesheet" href="../assets/stylesheets/bootstrap-theme.min.css">
#<script src="../assets/javascripts/bootstrap.min.js"></script>		
%>
</head>
<body>

<%= yield %>

</body>
</html>
